body{background-color:grey;color:green}
h1{text-align:center;text-decoration:bold;text-decoration:underline}
p{text-align:center;font-size:32px;color:red}
hr{color:blue;width:100%;border-width:2px}
h3{text-align:center;color:orange}
h2{text-align:center;color:brown}
a{font-size:24px}